.App {
  text-align: center;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.default_text_style {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: -0.28px;
}

.intro_text {
  /* Share events in Seconds */
  
  position: absolute;
  width: 300px;
  height: 166px;
  left: 35px;
  top: 157px;

  
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.create_event_button {
  /* Sign in */

  position: absolute;
  width: 198px;
  height: 47px;
  left: 86px;
  top: 335px;

  background: #67CE67;
  border-radius: 8px;
  border: 8px;
  border-color: #67CE67;


  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  vertical-align: middle;

  color: #FFFFFF;
}

.create_event_button:hover {
  background: #59b359;
}


.sign_in_text {
  /* Sign in */


  position: absolute;
  width: 128px;
  height: 28px;
  left: 119px;
  top: 387px;

  font-family: SF Pro Text;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.28px;
  text-decoration-line: underline;

  color: #000000;
}

.desc_header_text {
  /* How it Works */

  position: absolute;
  width: 264px;
  height: 29px;
  left: 41px;
  top: 438px;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;
  
  color: #000000;
}

.desc_text {
  /* To create an event, click on Create Event then 
  fill out basic information like Event Name, Location.... */

  position: absolute;
  width: 294px;
  height: 183px;
  left: 41px;
  top: 483px;

  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  
  color: #000000;
}

.addEventCover_button_container {
  display: grid;
  grid-template-columns: 140px 30px 140px;
  grid-template-rows: auto;

  justify-items: center;
  align-items: center;

  background: #EAEAEA;
  border-radius: 8px;

  position: absolute;
  width: 309px;
  height: 68px;
  left: 25px;
  top: 148px;
}

.addEventCover_text {
  font-size: 11px;
}


.plus {
  display:inline-block;
  width:30px;
  height:30px;
  
  background:
    linear-gradient(rgba(60, 60, 67, 0.6),rgba(60, 60, 67, 0.6)),
    linear-gradient(rgba(60, 60, 67, 0.6),rgba(60, 60, 67, 0.6)),
    rgba(120, 120, 128, 0.16);
  background-position:center;
  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}

.radius {
  border-radius:50%;
}

.default_header_text {
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;

  color: #000000;
}

.eventName_text {
  /* Event Name */

  position: absolute;
  width: 264px;
  height: 29px;
  left: 25px;
  top: 210px;
}

.eventName_input {
  position: absolute;
  width: 292px;
  height: 40px;
  left: 25px;
  top: 259px;

  background: #F3F3F3;
  border-radius: 8px;
  border: 0px;
}

.eventName_input:focus, input:focus{
  outline: none;
}

.input_padding {
  padding-left: 11px;
  padding-right: 6px;
}

.input_size {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}


.eventDescription_textarea {
  position: absolute;
  width: 292px;
  height: 252px;
  left: 25px;
  top: 354px;
  resize: none;

  background: #F3F3F3;
  border-radius: 8px;
  border: 0px;
}

.eventDescription_textarea:focus, textarea:focus{
  outline: none;
}


.eventStartTime_text {
  /* Start time: */


  position: absolute;
  width: 128px;
  height: 28px;
  left: 25px;
  top: 667px;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.eventEndTime_text {
  /* End Time: */


  position: absolute;
  width: 128px;
  height: 28px;
  left: 25px;
  top: 1124px;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.toggle_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.eventEndTime_toggle {
  position: absolute;
  width: 300px;
  height: 31px;
  left: 25px;
  top: 1168px;
}

.eventEndTime_toggle_text {
  /* End Time: */


  position: absolute;
  display: inline-block;
  width: 180px;
  height: 25px;

  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: left;

  color: #000000;
}

/* The switch - the box around the slider */
.rounded_switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 30px;
}

/* Hide default HTML checkbox */
.rounded_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 15px;
  left: 0;
  right: 0;
  bottom: -15px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #32D74B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #32D74B;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.eventLocation_text {
  /* Location */


  position: absolute;
  width: 264px;
  height: 29px;
  left: 25px;
  top: 1634px;

  font-size: 24px;
  line-height: 29px;
  text-align: left;

  color: #000000;
}

.eventArrivalInstructions_text {
  /* Arrival Instructions */


  position: absolute;
  width: 264px;
  height: 29px;
  left: 25px;
  top: 1809px;

  font-size: 24px;
  line-height: 29px;
  text-align: left;

  color: #000000;
}

.eventArrivalInstructions_textarea {
  position: absolute;
  width: 292px;
  height: 80px;
  left: 25px;
  top: 1890px;
  resize: none;

  background: #F3F3F3;
  border-radius: 8px;
  border: 0px;
}

.eventArrivalInstructions_textarea:focus {
  outline: none;
}

.eventOrganizerContactInfo_text {
  /* Organizer Contact Info */
  
  position: absolute;
  width: 264px;
  height: 29px;
  left: 25px;
  top: 1951px;

  font-size: 24px;
  line-height: 29px;
  text-align: left;

  color: #000000;
}

.eventOrganizerContactInfo_toggle {
  position: absolute;
  width: 300px;
  height: 80px;
  left: 25px;
  top: 2023px;
}

.eventOrganizerContactInfo_toggle_text {
  /* Do you want to add a phone number for attendees to contact? */


  position: absolute;
  display: inline-block;
  width: 230px;
  height: 25px;

  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: left;

  color: #000000;
}

.eventOrganizerContactInfo_phone_input {
  position: absolute;
  width: 292px;
  height: 40px;
  left: 25px;
  top: 2110px;

  background: #F3F3F3;
  border-radius: 8px;
  border: 0px;
}

.eventOrganizerContactInfo_name_text {
  position: absolute;
  width: 298px;
  height: 47px;
  left: 25px;
  top: 2157px;

  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.eventOrganizerContactInfo_name_input {
  position: absolute;
  width: 292px;
  height: 40px;
  left: 26px;
  top: 2201px;

  background: #F3F3F3;
  border-radius: 8px;
  border: 0px;
}

.eventPassword_text {
  /* Password */
  
  position: absolute;
  width: 264px;
  height: 29px;
  left: 25px;
  top: 2320px;


  font-size: 24px;
  line-height: 29px;
  text-align: left;

  color: #000000;
}

.eventPassword_toggle {
  position: absolute;
  width: 300px;
  height: 86px;
  left: 25px;
  top: 2399px;
}

.eventPassword_toggle_text {
  /* Add a password to your event. */


  width: 180px;
  height: 25px;

  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: left;

  color: #000000;
}

.eventPassword_toggle_text_2 {
  /* People with the link will not be able view event details without a password */

  width: 230px;
  height: 25px;

  font-weight: 300;
  font-size: 13px;
  line-height: 15.51px;
  text-align: left;

  color: #000000;
}

.eventPassword_password_text {
  position: absolute;
  width: 240px;
  height: 25px;
  left: 25px;
  top: 2492px;

  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.eventPassword_password_input {
  position: absolute;
  width: 292px;
  height: 40px;
  left: 25px;
  top: 2537px;

  letter-spacing: 0.5em;
  background: #F3F3F3;
  border-radius: 8px;
  border: 0px;
}

.eventPassword_confirm_text {
  position: absolute;
  width: 240px;
  height: 25px;
  left: 25px;
  top: 2572px;

  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.eventPassword_confirm_input {
  position: absolute;
  width: 292px;
  height: 40px;
  left: 25px;
  top: 2619px;

  letter-spacing: 0.5em;
  background: #F3F3F3;
  border-radius: 8px;
  border: 0px;
}

.eventRSVP_text {
  /* RSVP */
  
  position: absolute;
  width: 264px;
  height: 29px;
  left: 25px;
  top: 2639px;


  font-size: 24px;
  line-height: 29px;
  text-align: left;

  color: #000000;
}

.eventRSVP_toggle {
  position: absolute;
  width: 300px;
  height: 145px;
  left: 25px;
  top: 2719px;
}

.eventRSVP_toggle_text {
  /* Do you want attendants to be able to RSVP to your event? */


  width: 230px;
  height: 25px;

  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: left;

  color: #000000;
}

.eventRSVP_toggle_text_2 {
  /* Attendants with the link will be able to put their name down to and others will be able to see who has RSVP’d */

  width: 230px;
  height: 36px;

  font-weight: 300;
  font-size: 13px;
  line-height: 15.51px;
  text-align: left;

  color: #000000;
}

.preview_button {
  /* Sign in */

  position: absolute;
  width: 198px;
  height: 47px;
  left: 82px;
  top: 2901px;


  background: #67CE67;
  border-radius: 8px;
  border: 8px;
  border-color: #67CE67;

  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  vertical-align: middle;

  color: #FFFFFF;
}

.preview_button:hover {
  background: #59b359;
}

.eventAlmostDone_text {
  position: absolute;
  width: 150px;
  height: 46px;
  left: 107px;
  top: 2938px;

  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
}

.outlined_box {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 20px 20px;

  border: 1px solid #D5D5D5;
  box-sizing: border-box;
  border-radius: 7px;
}



