.main_box {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 20px;
    
}

.eventBasics_text {
    align-items: left;
}

.eventDescription_subHeader {
    font-size: 15px;
    line-height: 17.9px;
}

.eventDescription_text {
    margin-top: 18px;
}


.eventTime_text {
    /* Time */
    align-items: left;
    margin: 20px 0px;
}

.eventTime_box {
    margin: 10px 0px;
}
