.react-datepicker-popper {
    z-index: 100 !important;
}
.tbox {  
    min-width:100%; 
}  
table#form {    
    width:100%;  
}
flatpickr-input { 
    -webkit-appearance: textfield;
    /* your custom styles here */ }