.main-box {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 20px;
    
}

.publishedEventName_text {
    margin-right: auto;
    font-size: 24px;
    line-height: 29px;
}





.createAccount_button {
    margin-top: 40px;
    
}

.create_account_button_text {
    margin: 20px 0px;
    font-size: 12px;
    line-height: 14px;
}

.eventHeader_box {
    align-items: center;
}

.eventHeader_box a {
    font-size: 15px;
    line-height: 18px;
}

.outlined_box h2 {
    text-align: left;
    margin: 0 0;
}

.outlined_box p {
    margin-top: 14px;
    text-align: left;
    line-height: 18px;
}

.outlined_box_columns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 0px;

    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 7px;
  }



.bottom_text {
    margin-top: 18px;
}

.shareEvent_box {
    display: grid;
    grid-template-columns: 30px 253px 30px;
    grid-template-rows: auto;
  
    justify-items: center;
    align-items: center;
    text-align: center;

    margin-top: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 18px;
    height: 28px;
}

.copyLink_Button {
    background: none;
    border: none;
    margin: 0;
    padding: 0px 24px;
    height: 39px;
    cursor: pointer;

    font-size: 15px;
    color: #2C69F6;

    border-left: 1px solid#D5D5D5;
}

.copyLink_Text {
    font-size: 15px;
    align-items: center;
}

.shareLink_box {
    margin-top: 20px;
    align-items: center;
    padding-bottom: 100px;
}

