.App {
  text-align: center;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.default_text_style {
  font-family: SF Pro Text;
  letter-spacing: -0.28px;
}

.intro_text {
  /* Share events in Seconds */
  
  position: absolute;
  width: 300px;
  height: 166px;
  left: 35px;
  top: 157px;

  
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.create_event_button {
  /* Sign in */

  position: absolute;
  width: 198px;
  height: 47px;
  left: 86px;
  top: 335px;

  background: #67CE67;
  border-radius: 8px;
  border: 8px;
  border-color: #67CE67;

  position: absolute;
  width: 194px;
  height: 45px;
  left: 88px;
  top: 336px;

  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  vertical-align: middle;

  color: #FFFFFF;
}

.create_event_button:hover {
  background: #FFFFFF;
  color: #67CE67;
  border: 2px solid #67CE67;
}


.sign_in_text {
  /* Sign in */


  position: absolute;
  width: 128px;
  height: 28px;
  left: 119px;
  top: 387px;

  font-family: SF Pro Text;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.28px;
  text-decoration-line: underline;

  color: #000000;
}

.desc_header_text {
  /* How it Works */

  position: absolute;
  width: 264px;
  height: 29px;
  left: 41px;
  top: 438px;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;
  
  color: #000000;
}

.desc_text {
  /* To create an event, click on Create Event then 
  fill out basic information like Event Name, Location.... */

  position: absolute;
  width: 294px;
  height: 183px;
  left: 41px;
  top: 483px;

  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  
  color: #000000;
}


